body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.header {
  width: 100%;
  height: 30px;
  background: #f2f2f2;
  border-bottom: 1px solid #ededee; }

.headTop {
  margin: 0 auto;
  width: 1090px;
  height: 30px; }

.headLeft {
  width: 184px;
  line-height: 30px;
  float: left; }

.headLeft .welcome {
  font-size: 12px;
  color: #666666; }

.headLeft .login {
  font-size: 12px;
  color: #666666;
  margin-left: 8px; }
  .headLeft .login:hover {
    color: #e31436; }

.headLeft .sep {
  font-size: 10px;
  color: #dbccdb;
  padding: 0 7px; }

.headLeft .free {
  font-size: 12px;
  color: #666666; }
  .headLeft .free:hover {
    color: #e31436; }

.headMiddle {
  width: 86px;
  height: 30px;
  position: relative;
  line-height: 30px;
  float: left;
  margin-left: 31px; }
  .headMiddle:hover .QR {
    display: block; }
  .headMiddle .phone {
    font-size: 12px;
    color: #666666;
    vertical-align: bottom; }
    .headMiddle .phone:hover {
      color: #e31436; }
  .headMiddle .QR {
    width: 126px;
    height: 165px;
    border: 1px solid #ededee;
    background: #fff;
    position: absolute;
    text-align: center;
    left: -22px;
    top: 45px;
    display: none; }
    .headMiddle .QR img {
      width: 116px;
      height: 116px; }
    .headMiddle .QR p {
      width: 100%;
      margin: 0 auto;
      font-size: 14px;
      color: #e31436;
      line-height: 18px;
      font-weight: normal; }

.ulBox {
  width: 612px;
  height: 30px;
  float: right; }
  .ulBox .headRight {
    margin: 0 auto;
    width: 582px;
    height: 30px; }
    .ulBox .headRight li {
      float: left;
      line-height: 30px;
      position: relative; }
      .ulBox .headRight li:hover .menu {
        display: block; }
      .ulBox .headRight li:hover .icon-sanjiaoxing-down {
        display: none; }
      .ulBox .headRight li:hover .icon-sanjiaoxing-up {
        display: block; }
      .ulBox .headRight li:hover a {
        color: #e31436; }
      .ulBox .headRight li .menu {
        position: absolute;
        left: 0;
        top: 30px;
        width: 110px;
        background: white;
        z-index: 100;
        display: none; }
        .ulBox .headRight li .menu .icon-kefu2 {
          font-size: 12px;
          color: #666; }
        .ulBox .headRight li .menu .icon-bangzhuzhongxin {
          font-size: 12px;
          color: #666; }
        .ulBox .headRight li .menu a {
          font-size: 12px;
          color: #666;
          line-height: 28px;
          display: block; }
          .ulBox .headRight li .menu a:hover {
            color: #e31436; }
      .ulBox .headRight li .menuEnd {
        width: 90px; }
        .ulBox .headRight li .menuEnd a {
          position: relative; }
          .ulBox .headRight li .menuEnd a:hover img {
            display: block; }
          .ulBox .headRight li .menuEnd a img {
            position: absolute;
            left: -108px;
            top: -28px;
            display: none; }
      .ulBox .headRight li a .icon-sanjiaoxing-down {
        position: absolute;
        left: 62px;
        top: 2px;
        font-size: 8px; }
      .ulBox .headRight li a .icon-sanjiaoxing-up {
        position: absolute;
        left: 62px;
        top: 2px;
        font-size: 8px;
        display: none; }
      .ulBox .headRight li:nth-child(1) a {
        padding-right: 14px; }
      .ulBox .headRight li:nth-child(2) a {
        padding-left: 8px;
        padding-right: 14px; }
      .ulBox .headRight li:nth-child(3) a {
        padding: 0 12px; }
      .ulBox .headRight li:nth-child(4) a {
        padding: 0 14px; }
      .ulBox .headRight li:nth-child(5) a {
        padding: 0 14px 0 14px; }
      .ulBox .headRight li:nth-child(6) a {
        padding: 0 14px; }
      .ulBox .headRight li:nth-child(7) a {
        padding-left: 12px; }
        .ulBox .headRight li:nth-child(7) a .icon-sanjiaoxing-down {
          position: absolute;
          left: 35px;
          top: 2px; }
        .ulBox .headRight li:nth-child(7) a .icon-sanjiaoxing-up {
          position: absolute;
          left: 35px;
          top: 2px; }
      .ulBox .headRight li a {
        font-size: 12px;
        color: #666; }
      .ulBox .headRight li .line {
        font-size: 10px;
        color: #dbccdb; }

.navBox {
  width: 100%;
  height: 100px; }

.BBox {
  margin: 0 auto;
  width: 1090px;
  height: 100px; }

.kaolaLogo {
  width: 330px;
  height: 100px;
  float: left; }

.searchBox {
  width: 511px;
  height: 100px;
  float: left;
  margin-left: 14px; }
  .searchBox .Middle {
    width: 507px;
    height: 36px;
    background: #eee;
    margin-top: 24px;
    position: relative; }
    .searchBox .Middle .Lover {
      width: 454px;
      height: 32px;
      font-size: 12px;
      color: #c8c8c8;
      border: 2px solid #333333;
      outline: none;
      float: left;
      text-indent: 30px; }
    .searchBox .Middle img {
      position: absolute;
      left: 10px;
      top: 12px; }
    .searchBox .Middle a {
      float: right;
      width: 49px;
      height: 36px;
      background: url(../images/pic1.jpg) no-repeat; }
  .searchBox .suggleList {
    width: 458px;
    height: 26px;
    line-height: 26px; }
    .searchBox .suggleList li {
      float: left; }
      .searchBox .suggleList li span {
        font-size: 10px;
        margin: 0 10px;
        color: #999; }
      .searchBox .suggleList li a {
        font-size: 12px;
        color: #999999; }
        .searchBox .suggleList li a:hover {
          text-decoration: underline; }
        .searchBox .suggleList li a:nth-child(1) {
          color: #e31436; }

.shopBox {
  width: 108px;
  height: 34px;
  line-height: 34px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  float: right;
  margin-top: 24px; }
  .shopBox .icon-gouwuche {
    padding-left: 22px; }
  .shopBox span {
    color: #333333;
    font-size: 14px; }

.sectionBox {
  width: 100%;
  height: 40px;
  border-bottom: 2px solid #151515; }
  .sectionBox .secTab {
    margin: 0 auto;
    width: 1090px;
    height: 40px;
    line-height: 40px; }
    .sectionBox .secTab .topCats {
      width: 160px;
      height: 100%;
      background: #151515;
      float: left; }
      .sectionBox .secTab .topCats:hover .catitmlst {
        display: block; }
      .sectionBox .secTab .topCats .levelT {
        cursor: pointer; }
        .sectionBox .secTab .topCats .levelT .lineIcon {
          display: inline-block;
          margin: 0 15px 0 27px;
          width: 15px;
          height: 12px;
          overflow: hidden; }
          .sectionBox .secTab .topCats .levelT .lineIcon i {
            width: 15px;
            height: 0;
            margin-bottom: 3px;
            border-top: 2px solid #ddd;
            display: block; }
        .sectionBox .secTab .topCats .levelT span {
          font-size: 14px;
          color: #ffffff; }
    .sectionBox .secTab .funcTob {
      padding-left: 20px;
      height: 40px;
      float: left; }
      .sectionBox .secTab .funcTob li {
        float: left;
        height: 40px;
        overflow: hidden;
        padding: 0 20px; }
        .sectionBox .secTab .funcTob li a {
          display: block;
          text-align: center;
          font-size: 14px;
          font-weight: bold;
          color: #333333; }
          .sectionBox .secTab .funcTob li a:hover {
            color: #e31436; }

.catitmlst {
  width: 160px;
  height: 400px;
  z-index: 100;
  position: relative;
  display: none; }
  .catitmlst .catlist {
    height: 40px;
    padding-left: 10px;
    cursor: pointer;
    z-index: 200;
    background: rgba(15, 15, 15, 0.82); }
    .catitmlst .catlist:hover {
      background: rgba(51, 51, 51, 0.6); }
      .catitmlst .catlist:hover .ctgCart {
        display: block;
        border: 1px solid #333; }
    .catitmlst .catlist .four {
      width: 20px;
      height: 20px;
      vertical-align: middle;
      padding: 0 12px 0 14px; }
    .catitmlst .catlist span {
      color: #fff;
      font-size: 14px;
      display: inline-block;
      vertical-align: middle;
      width: 70px;
      height: 30px;
      line-height: 30px;
      white-space: nowrap; }
    .catitmlst .catlist .iconCat {
      display: inline-block;
      vertical-align: middle;
      color: #929496;
      font-size: 19px;
      width: 14px; }
    .catitmlst .catlist .ctgCart {
      position: absolute;
      left: 160px;
      top: 1px;
      width: 929px;
      display: none;
      height: 398px;
      background: #fff;
      overflow: hidden; }
      .catitmlst .catlist .ctgCart .ctglist {
        margin: 10px 20px 20px 20px;
        width: 610px;
        height: 370px;
        overflow: hidden; }
        .catitmlst .catlist .ctgCart .ctglist .f-cd {
          width: 610px;
          height: 201px; }
          .catitmlst .catlist .ctgCart .ctglist .f-cd .litd {
            width: 305px;
            height: 201px; }
            .catitmlst .catlist .ctgCart .ctglist .f-cd .litd .itemOne {
              width: 275px;
              height: auto;
              margin: 0 25px 10px 5px; }
              .catitmlst .catlist .ctgCart .ctglist .f-cd .litd .itemOne .title {
                height: 34px;
                line-height: 34px;
                font-size: 14px;
                font-weight: bold;
                border-bottom: 1px solid #eaeaea; }
                .catitmlst .catlist .ctgCart .ctglist .f-cd .litd .itemOne .title a {
                  color: #333;
                  font-size: 14px;
                  font-weight: bold; }
              .catitmlst .catlist .ctgCart .ctglist .f-cd .litd .itemOne .ctgnamebox {
                margin-left: -8px;
                font-size: 0; }
                .catitmlst .catlist .ctgCart .ctglist .f-cd .litd .itemOne .ctgnamebox a {
                  line-height: 14px;
                  padding: 0 8px 0 10px;
                  margin-top: 12px;
                  border-left: 1px solid #ccc;
                  font-size: 12px;
                  color: #666;
                  display: inline-block; }
                .catitmlst .catlist .ctgCart .ctglist .f-cd .litd .itemOne .ctgnamebox:nth-child(1) {
                  border-left: none; }
          .catitmlst .catlist .ctgCart .ctglist .f-cd .first {
            float: left;
            background: #fff; }
          .catitmlst .catlist .ctgCart .ctglist .f-cd .second {
            float: right;
            background: #fff; }
      .catitmlst .catlist .ctgCart .f-f1 {
        float: left; }
      .catitmlst .catlist .ctgCart .brandBox {
        width: 245px;
        height: 244px;
        overflow: hidden;
        background: #f6f6f6;
        padding: 20px 17px 0; }
        .catitmlst .catlist .ctgCart .brandBox .brandList a {
          width: 81px;
          height: 81px;
          float: left; }
          .catitmlst .catlist .ctgCart .brandBox .brandList a img {
            width: 80px;
            height: 80px;
            border: 1px solid #eaeaea; }

.ImageBox {
  width: 244px;
  height: 100px;
  padding: 18px;
  background: #f6f6f6; }

.artical {
  width: 100%;
  height: 2000px; }
  .artical .articalBox {
    width: 1090px;
    height: 100%;
    margin: 0 auto;
    padding: 10px 0 0; }
    .artical .articalBox .crumbsBox {
      height: 22px;
      margin-bottom: 40px;
      padding-top: 12px;
      padding-bottom: 17px;
      border-bottom: 1px solid #ddd;
      margin-bottom: 40px;
      font-size: 14px; }
      .artical .articalBox .crumbsBox .txt {
        line-height: 24px; }
      .artical .articalBox .crumbsBox .f-fl {
        float: left;
        color: #999999; }
      .artical .articalBox .crumbsBox .n-crumbtn {
        position: relative; }
        .artical .articalBox .crumbsBox .n-crumbtn .btnBox {
          position: relative;
          float: left;
          width: 93px;
          height: 18px;
          border: 1px solid #cccccc;
          background: #fff;
          z-index: 10; }
          .artical .articalBox .crumbsBox .n-crumbtn .btnBox .btn {
            font-size: 14px;
            color: #333333; }
          .artical .articalBox .crumbsBox .n-crumbtn .btnBox .V-icon {
            position: absolute;
            right: 6px;
            top: 6px;
            width: 11px;
            height: 7px; }
        .artical .articalBox .crumbsBox .n-crumbtn .hiddenBox {
          width: 448px;
          height: 38px;
          border: 1px solid #aaaaaa;
          background: #fff; }
          .artical .articalBox .crumbsBox .n-crumbtn .hiddenBox a {
            font-size: 12px;
            color: #333;
            line-height: 38px;
            padding: 0 18px; }
        .artical .articalBox .crumbsBox .n-crumbtn #hiddenBox1 {
          position: absolute;
          top: 18px;
          left: 128px;
          display: none; }
        .artical .articalBox .crumbsBox .n-crumbtn #hiddenBox2 {
          position: absolute;
          top: 18px;
          left: 242px;
          display: none; }
        .artical .articalBox .crumbsBox .n-crumbtn #hiddenBox3 {
          position: absolute;
          top: 18px;
          left: 355px;
          display: none; }
        .artical .articalBox .crumbsBox .n-crumbtn .f-f1 {
          float: left;
          color: #9999a5; }
      .artical .articalBox .crumbsBox .ellipsis {
        max-width: 300px;
        color: #999;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
        overflow: hidden; }
    .artical .articalBox .profowrap {
      width: 1090px;
      height: 562px;
      margin: 20px auto;
      position: relative; }
      .artical .articalBox .profowrap .pImgBox {
        float: left;
        width: 402px;
        height: 488px;
        position: relative; }
        .artical .articalBox .profowrap .pImgBox .scrollBtn {
          position: absolute;
          width: 33px;
          height: 64px;
          border: 1px solid #eeeeee;
          display: inline-block;
          font-size: 38px;
          text-align: center;
          line-height: 64px;
          color: #e4e7e9;
          z-index: 1000; }
        .artical .articalBox .profowrap .pImgBox .scrollLeft {
          left: 0;
          top: 421px; }
        .artical .articalBox .profowrap .pImgBox .scrollRight {
          right: 0;
          top: 421px; }
        .artical .articalBox .profowrap .pImgBox .litImg {
          position: absolute;
          top: 419px;
          left: 35px;
          width: 330px;
          height: 70px;
          overflow: hidden; }
          .artical .articalBox .profowrap .pImgBox .litImg .litImgU {
            width: 410px;
            height: 70px;
            position: absolute;
            top: 0;
            padding-left: 10px;
            overflow: hidden; }
            .artical .articalBox .profowrap .pImgBox .litImg .litImgU li {
              width: 70px;
              height: 70px;
              float: left;
              margin-right: 10px; }
              .artical .articalBox .profowrap .pImgBox .litImg .litImgU li img {
                width: 64px;
                display: inline-block;
                width: 64px;
                border: 1px solid #eee; }
        .artical .articalBox .profowrap .pImgBox .showImgBox {
          position: relative;
          top: 0;
          left: 0;
          border: 1px solid #eee;
          width: 400px;
          height: 400px;
          overflow: hidden;
          cursor: crosshair; }
          .artical .articalBox .profowrap .pImgBox .showImgBox img {
            width: 400px;
            height: 400px; }
          .artical .articalBox .profowrap .pImgBox .showImgBox .shadow {
            width: 200px;
            height: 200px;
            background-color: #000;
            opacity: 0.3;
            position: absolute;
            top: 29px;
            left: 0.5px; }
        .artical .articalBox .profowrap .pImgBox .bigBox {
          position: absolute;
          left: 400px;
          top: 0;
          width: 400px;
          height: 400px;
          display: none;
          border: 1px solid #eee;
          overflow: hidden; }
          .artical .articalBox .profowrap .pImgBox .bigBox img {
            width: 800px;
            position: absolute;
            left: 0;
            top: 0; }

.footerOne {
  width: 100%;
  height: 382px;
  background: #fff;
  border-top: 1px solid #eaeaea; }
  .footerOne .footBg {
    width: 1196px;
    margin: 0 auto; }
    .footerOne .footBg .btmList {
      padding: 40px 0 90px;
      border-bottom: 1px solid #eaeaea; }
      .footerOne .footBg .btmList .clearFix li {
        float: left;
        width: 25%; }
        .footerOne .footBg .btmList .clearFix li .iconZheng {
          float: left;
          margin: 0 12px 0 0; }
        .footerOne .footBg .btmList .clearFix li .tit {
          font-size: 18px;
          font-weight: bold;
          display: block;
          line-height: 22px; }
        .footerOne .footBg .btmList .clearFix li .desc {
          font-size: 14px;
          display: block;
          line-height: 22px; }
    .footerOne .footBg .guideList {
      padding: 40px 0 90px;
      overflow: hidden; }
      .footerOne .footBg .guideList .last {
        margin-left: 10px; }
      .footerOne .footBg .guideList .item {
        width: 108px;
        padding: 0;
        text-align: center;
        float: left;
        font-size: 12px;
        color: #333333; }
        .footerOne .footBg .guideList .item .le {
          width: 106px;
          height: 106px;
          border: 1px solid #eaeaea; }
          .footerOne .footBg .guideList .item .le img {
            padding-top: 2px; }
      .footerOne .footBg .guideList .clearfix .bd_none {
        border: none; }
      .footerOne .footBg .guideList .clearfix .fir {
        width: 194px;
        padding-right: 40px;
        padding-left: 30px; }
        .footerOne .footBg .guideList .clearfix .fir .logocaola {
          display: block;
          width: 220px;
          height: 42px;
          line-height: 45px;
          margin-bottom: 20px;
          outline: none;
          cursor: pointer;
          z-index: 9; }
        .footerOne .footBg .guideList .clearfix .fir .focuson {
          width: 194px;
          height: 32px;
          line-height: 32px; }
          .footerOne .footBg .guideList .clearfix .fir .focuson .label {
            font-size: 12px;
            color: #333333;
            display: inline-block;
            vertical-align: middle;
            padding-bottom: 10px; }
          .footerOne .footBg .guideList .clearfix .fir .focuson .itm {
            position: relative;
            margin-left: 10px;
            cursor: pointer;
            display: inline-block;
            vertical-align: middle; }
            .footerOne .footBg .guideList .clearfix .fir .focuson .itm:hover .m-notice {
              display: block; }
            .footerOne .footBg .guideList .clearfix .fir .focuson .itm .w-icon {
              width: 32px;
              height: 32px;
              background-position: -752px -69px; }
            .footerOne .footBg .guideList .clearfix .fir .focuson .itm .m-notice {
              position: absolute;
              left: -44px;
              top: 42px;
              z-index: 10;
              border: solid 1px #ededee;
              padding: 10px;
              display: none; }
              .footerOne .footBg .guideList .clearfix .fir .focuson .itm .m-notice img {
                vertical-align: middle;
                display: inline-block; }
              .footerOne .footBg .guideList .clearfix .fir .focuson .itm .m-notice .arrow {
                position: absolute;
                left: 52px;
                top: 0;
                right: auto; }
                .footerOne .footBg .guideList .clearfix .fir .focuson .itm .m-notice .arrow .arr {
                  top: -16px;
                  border-color: transparent transparent #ededee transparent;
                  position: absolute;
                  left: 0;
                  border-width: 8px;
                  border-style: dashed dashed solid dashed;
                  width: 0;
                  height: 0;
                  font-size: 0; }
                .footerOne .footBg .guideList .clearfix .fir .focuson .itm .m-notice .arrow .arr1 {
                  position: absolute;
                  left: 0;
                  border-width: 8px;
                  width: 0;
                  height: 0;
                  font-size: 0; }
      .footerOne .footBg .guideList li {
        float: left;
        width: 110px;
        padding: 0 0 0 25px;
        height: 128px;
        border-left: 1px solid #eaeaea; }
        .footerOne .footBg .guideList li dt {
          margin: -4px 0 10px; }
          .footerOne .footBg .guideList li dt em {
            font-size: 18px;
            font-weight: normal;
            font-style: normal; }
        .footerOne .footBg .guideList li dd {
          line-height: 24px; }
          .footerOne .footBg .guideList li dd a {
            font-size: 12px;
            color: #333;
            cursor: pointer; }
  .footerOne .aboutNEST {
    color: #c2c2c2;
    position: relative;
    padding: 20px 0;
    background: #333;
    line-height: 26px;
    text-align: center;
    clear: both; }
  .footerOne a {
    color: #c2c2c2;
    font-size: 12px; }
  .footerOne .m-license {
    margin-left: 20px;
    font-size: 12px; }
  .footerOne .f-tac {
    height: 30px;
    margin: 5px 15px 0 0; }
    .footerOne .f-tac .p {
      width: 83px;
      height: 30px; }
    .footerOne .f-tac .tu {
      width: 80px;
      height: 30px; }
    .footerOne .f-tac .pian {
      width: 27px;
      height: 30px; }
