body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
// header
.header{
	width:100%;
	height:30px;
	background:#f2f2f2;
	border-bottom:1px solid #ededee;
}
.headTop{
	margin:0 auto;
	width:1090px;
	height:30px;
}
.headLeft{
	width:184px;
	line-height:30px;
	float:left;
}
.headLeft{
	.welcome{
		font-size:12px;
		color:#666666;
	}
	.login{
		font-size:12px;
		color:#666666;
		margin-left:8px;
		&:hover{
			color:#e31436;
		}
	}
	.sep{
		font-size:10px;
		color:#dbccdb;
		padding:0 7px;
	}
	.free{
		font-size:12px;
		color:#666666;
		&:hover{
			color:#e31436;
		}
	}
}
.headMiddle{
	width:86px;
	height:30px;
	position:relative;
	line-height:30px;
	float:left;
	margin-left:31px;
	&:hover{
		.QR{
				display:block;
			}
	}
	.phone{
		font-size:12px;
		color:#666666;
		vertical-align:bottom;
		&:hover{
			color:#e31436;
		}
	}
	.QR{
		width:126px;
		height:165px;
		border:1px solid #ededee;
		background:#fff;
		position:absolute;
		text-align:center;
		left:-22px;
		top:45px;
		display:none;
		img{
			width:116px;
			height:116px;
		}
		p{
			width:100%;
			margin:0 auto;
			font-size:14px;
			color:#e31436;
			line-height: 18px;
			font-weight: normal;
		}
	}
}
.ulBox{
	width:612px;
	height:30px;
	float:right;
	.headRight{
		margin:0 auto;
		width:582px;
		height:30px;
		li{
		float:left;
		line-height:30px;
		position:relative;
		&:hover{
			.menu{
			display:block;
			}
			.icon-sanjiaoxing-down{
				display:none;
			}
			.icon-sanjiaoxing-up{
				display:block;
			}
			a{
				color:#e31436;
			}
		}
		.menu{
			position:absolute;
			left:0;
			top:30px;
			width:110px;
			background:white;
			z-index:100;
			display:none;
			.icon-kefu2{
					font-size:12px;
					color:#666;
				}

			.icon-bangzhuzhongxin{
					font-size:12px;
					color:#666;
				}
			a{
				font-size:12px;
				color:#666;
				line-height:28px;
				display:block;
				&:hover{
					color:#e31436;
				}
			}	
		}
		.menuEnd{
			width:90px;
			a{
				position:relative;
				&:hover{
					img{
						display:block;
					}
				}
				img{
					position:absolute;
					left:-108px;
					top:-28px;
					display:none;
				}
			}
		}
			a{
			.icon-sanjiaoxing-down{
				position:absolute;
				left:62px;
				top:2px;
				font-size:8px;
			}
			.icon-sanjiaoxing-up{
				position:absolute;
				left:62px;
				top:2px;
				font-size:8px;
				display:none;
			}
		}
		&:nth-child(1){
			a{
			padding-right:14px;
			}
		}
		&:nth-child(2){
			a{
			padding-left:8px;
			padding-right:14px;
			}
		}
		&:nth-child(3){
			a{
				padding:0 12px;
			}
		}
		&:nth-child(4){
			a{
				padding:0 14px;
			}
		}
		&:nth-child(5){
			a{
				padding:0 14px 0 14px;
			}
		}
		&:nth-child(6){
			a{
				padding:0 14px;
			}
		}
		&:nth-child(7){
			a{
				padding-left:12px;
				.icon-sanjiaoxing-down{
					position:absolute;
					left:35px;
					top:2px;
				}
				.icon-sanjiaoxing-up{
					position:absolute;
					left:35px;
					top:2px;
				}
			}
		}
		a{
			font-size:12px;
			color:#666;
		}
		.line{
			font-size:10px;
			color:#dbccdb;
			}
		}	
	}
}
// nav
.navBox{
	width:100%;
	height:100px;
}
.BBox{
	margin:0 auto;
	width:1090px;
	height:100px;
}
.kaolaLogo{
	width:330px;
	height:100px;
	float:left;
}
.searchBox{
	width:511px;
	height:100px;
	float:left;
	margin-left:14px;
	.Middle{
		width:507px;
		height:36px;
		background:#eee;
		margin-top:24px;
		position:relative;
		.Lover{
		width:454px;
		height:32px;
		font-size:12px;
		color:#c8c8c8;
		border:2px solid #333333;
		outline:none;
		float:left;
		text-indent:30px;
		}
		img{
			position:absolute;
			left:10px;
			top:12px;
		}
		a{
			float:right;
			width:49px;
			height:36px;
			// background: #000;
			background:url(../images/pic1.jpg ) no-repeat;
		}
	}
	.suggleList{
		width:458px;
		height:26px;
		line-height:26px;
		li{
			float:left;
			span{
				font-size:10px;
				margin:0 10px;
				color:#999;
			}
			a{
				font-size:12px;
				color:#999999;
				&:hover{
				text-decoration:underline;
				}
			&:nth-child(1){
				color:#e31436;
				}
			}
		}
	}	
}
.shopBox{
	width:108px;
	height:34px;
	line-height:34px;
	border:1px solid #dddddd;
	border-radius:5px;
	float:right;
	margin-top:24px;
	.icon-gouwuche{
		padding-left:22px;
	}
	span{
		color:#333333;
		font-size:14px;
	}
}
// section-two
.sectionBox{
	width:100%;
	height:40px;
	border-bottom: 2px solid #151515;
	.secTab{
		margin:0 auto;
		width:1090px;
		height:40px;
		line-height:40px;
		.topCats{
			width:160px;
			height:100%;
			background:#151515;
			float:left;
			.levelT{
    					cursor: pointer;
				.lineIcon{
					    display: inline-block;
   						margin: 0 15px 0 27px;
   						width: 15px;
   						height: 12px;
    					overflow: hidden;
					i{
						width:15px;
						height:0;
						margin-bottom: 3px;
						border-top:2px solid #ddd;
						display:block;
					}
				}
				span{
					font-size:14px;
					color:#ffffff;
				}
			}
		}
		.funcTob{
			padding-left:20px;
			height: 40px;
			float:left;
			li{
				float: left;
    			height: 40px;
    			overflow: hidden;
    			padding: 0 20px;
    			a{
    			    display: block;
    				text-align: center;
    				font-size: 14px;
    				font-weight: bold;
    				color:#333333;
    				&:hover{
    				color:#e31436;
    				}
    			}
			}
		}
	}
}
.catitmlst{
	width:160px;
	height:400px;
	z-index:100;
	position:relative;
	.catlist{
		height:40px;
		padding-left: 10px;
		cursor: pointer;
		&:hover{
			background:rgba(51,51,51,0.6);
			.ctgCart{
				display:block;
				border: 1px solid #333;
			}
		}
		z-index:200;
		background:rgba(15,15,15,0.82);
		.four{
			width: 20px;
    		height: 20px;
    		vertical-align: middle;
    		padding: 0 12px 0 14px;
		}
		span{
		color: #fff;
   		font-size: 14px;
   		display: inline-block;
    	vertical-align: middle;
    	width: 70px;
    	height: 30px;
    	line-height: 30px;
    	white-space: nowrap;
		}
		.iconCat{
		    display: inline-block;
    		vertical-align: middle;
    		color: #929496;
    		font-size: 19px;
    		width: 14px;
		}
		.ctgCart{
			position:absolute;
			left:160px;
			top:1px;
			width: 929px;
			display:none;
		    height: 398px;
		    background:#fff;
		    overflow: hidden;
		    .ctglist{
		        margin: 10px 20px 20px 20px;
		    	width:610px;
		        height: 370px;
    			overflow: hidden;
    			.f-cd{
    				width:610px;
    				height:201px;
    				.litd{
    					width:305px;
    					height:201px;
    					.itemOne{
    						width: 275px;
    						height: auto;
    						margin: 0 25px 10px 5px;
    						.title{
							   height: 34px;
    						   line-height: 34px;
    						   font-size: 14px;
    						   font-weight: bold;
    						   border-bottom: 1px solid #eaeaea;
    						   a{
    						   		color:#333;
    						   		font-size:14px;
    						   		font-weight:bold;
    						   }
    						}
    						.ctgnamebox{
    							    margin-left: -8px;
   								    font-size: 0;
    								a{
    										line-height: 14px;
    										padding: 0 8px 0 10px;
    										margin-top: 12px;
   										 	border-left: 1px solid #ccc;
    										font-size: 12px;
    										color: #666;
    									    display: inline-block;
    								}
    								&:nth-child(1){
    									border-left:none;
    								}
    						}
    					}
    				}
    				.first{
    					float:left;
    					background:#fff;
    				}
    				.second{
    					float:right;
    					background:#fff;
    				}
    			}
    			.a-list{
    				// background:orange;
    			}
		    }
		    .f-f1{
		    	float:left;
		    }
		    .brandBox{
				width:245px;
				height:244px;
				overflow: hidden;
				background:#f6f6f6;
				padding: 20px 17px 0;
				.brandList{
					a{
						width:81px;
						height:81px;
						float:left;
						img{
							width:80px;
							height:80px;
							border: 1px solid #eaeaea;
						}
					}
				}
		    }
		}
	}
}
.ImageBox{
	width: 244px;
    height: 100px;
    padding: 18px;
    background: #f6f6f6;
}
// 轮播图
.carousel{
	width:100%;
	height:400px;
}
#box{
	position:relative;
	width:100%;
	height:400px;
}
#box img{
	position:absolute;
	width:100%;
	height:400px;
}
#imgId1{
	opacity:1;
}
#imgId2,#imgId3,#imgId4{
	opacity:0;
}
#btns{
	position:absolute;
	right:510px;
	bottom:20px;
	height:20px;
}
#btns li{
	float:left;
	margin-top:5px;
	margin-left:5px;
	width:20px;
	height:20px;
	text-align:center;
	border-radius:50%;
	background:rgba(51,51,51,.5);
	cursor:pointer;
	font-size:10px;
	color:#fff;
}
#leftArrow{
	position:absolute;
	left:76px;
	top:156px;
	cursor:pointer;
	width:35px;
	height:65px;
	color:#fff;
	font-size:38px;
	text-align:center;
	line-height:65px;
	background:rgba(0,51,0,.3);
	display:none;
}
#rightArrow{
	position:absolute;
	right:76px;
	top:156px;
	cursor:pointer;
	width:35px;
	height:65px;
	color:#fff;
	font-size:38px;
	text-align:center;
	line-height:65px;
	background:rgba(0,51,0,.3);
	display:none;
}
.bigBox{
	width:100%;
	height:auto;
	background:#f88690;
}

// section-second
.bigBox{
	width:100%;
	height:auto;
	background:#f6f6f6;
	.sellpoint{
		width:100%;
		height:44px;
		border-bottom:1px solid #eaeaea;
		.contenwarp{
			width:1090px;
			height:44px;
			margin:0 auto;
			.sellpoint{
				width:462px;
				height:44px;
				float:left;
				.item{
					font-size:12px;
					color:#999999;
					display:inline-block;
					line-height:44px;
					vertical-align:middle;
					float:left;
					margin-right:40px;
					.icon-tui1{
						font-size:20px;
						float:left;
					}
				}
			}
			.notice{
				width:320px;
				height:44px;
				float:right;

				.j-announce{
					font-size:12px;
					color:#e01f35;
					line-height:44px;
					vertical-align:middle;
					&:hover{
						text-decoration:underline;
					}
					.icon-laba{
						font-size:14px;
						color:#e01f35;
					}
				}
			}
		}
	}
}
// 新人专享价
.rowOfX{
	width:100%;
	height:220px;
	.oldUser{
		width:1090px;
		height:220px;
		margin:20px auto;
		.row-wrap{
			float:left;
			margin-right:8px;
			&:nth-child(4){
				margin-right:0;
			}
		}
	}
}
// 今日限时购
.mainBgWarp{
	width:100%;
	height:436px;
	margin-top:5px;
	.m-dailylimit{
		width:1090px;
		height:436px;
		margin:0 auto;
		.w-tit1{
			margin:44px 0 15px 0;

			.big{
				font-size:22px;
				color:#333;
				margin-right:10px;
			}
			.small{
				font-weight:100;
				font-size:14px;
				color:#999999;
			}
			.timeBox{
				margin-left: 8px;
    			font-weight: bold;
    			font-size: 14px;
    			color: #999;
    			span{
    				display:inline-block;
    				text-align:center;
    				line-height:20px;
    				width:20px;
    				height:20px;
    				background:#333;
    				border-radius:50%;
    			}
			}
			.more{
			width:110px;
			float:right;
			font-size:14px;
			color:#33334b;
			line-height:31px;
			font-weight:normal;
			&:hover{
						text-decoration:underline;
					}
			}
		}
		.cnt{
			width:1090px;
			height:380px;
			border-top:2px solid #333333;
			.leftBox{
				width:870px;
				height:378px;
				float:left;
				background:#fff;
				.goods{
					float:left;
					width:433px;
					height:188px;
					border: 1px solid #eaeaea;
					.pic{
						width:188px;
						height:188px;
						float:left;
						.Imglay{
							width:100%;
							height:100%;
						}
					}
					.detail{
						width:205px;
						height:188px;
						position:relative;
						float:right;
						margin-right:20px;
						.intro{
							margin:20px 0 6px;
							height:21px;
							font-weight:bold;
							a{
								font-size:14px;
								color:#333;
								&:hover{
									text-decoration:underline;
								}

							}
						}
						.shortTitle{
							height:40px;
							font-weight: normal;
							a{
								font-size:12px;
								color:#666;
								&:hover{
									text-decoration:underline;
								}
							}
						}
						.price{
							margin: 14px 0 2px;
    						font-size: 24px;
   						    font-weight: bold;
    						color: #e11935;
    						b{
    							font-size: 20px;
   								font-weight: normal;
    						}
    						span{
    							margin-left: 8px;
    							font-size: 14px;
    							font-weight: normal;
    							color: #999;
    						}
    						del{
    							font-size: 14px;
    							font-weight: normal;
    							color: #999;
    						}
						}
						.process{
							position: relative;
    						width: 100px;
    						height: 18px;
    						line-height: 18px;
    						text-align: left;
    						font-size: 12px;
    						color: #de2634;
    						border: 1px solid #f3c7c7;
    						border-radius:10px;
    						b{
    							width:64.2%;
    							background: #ffd2c5;
    							display: inline-block;
    							height: 100%;
    							background-color: #ffd2c5;
    							border-radius:10px 0 0 10px;
    						}
    						.text{
    							position: absolute;
    							top: 0;
    							left: 0;
    							width: 100%;
    							height: 100%;
    							text-align: center;
    						}
						}
						.f-hover{
							display: inline-block;
    						position: absolute;
    						bottom: 30px;
    						right: 0;
    						width: 78px;
    						height: 26px;
    						line-height: 26px;
    						border: 1px solid #de2634;
    						text-align: center;
   						 	font-size: 14px;
    						color: #fff;
    						background-color: #de2634;
						}
					}
				}
			}
			.rightBox{
				width:220px;
				height:378px;
				float:right;
			}
		}
	}
}
// 每日上新
.biBox{
	width:100%;
	height:544px;
	.recomd{
		width:1090px;
		height:544px;
		margin:0 auto;
		.w-tit1{
			margin:44px 0 15px 0;

			.big{
				font-size:22px;
				color:#333;
				margin-right:10px;
			}
			.small{
				font-weight:100;
				font-size:14px;
				color:#999999;
			}
			.timeBox{
				margin-left: 8px;
    			font-weight: bold;
    			font-size: 14px;
    			color: #999;
    			span{
    				display:inline-block;
    				text-align:center;
    				line-height:20px;
    				width:20px;
    				height:20px;
    				background:#333;
    				border-radius:50%;
    			}
			}
			.more{
			width:110px;
			float:right;
			font-size:14px;
			color:#33334b;
			line-height:31px;
			font-weight:normal;
			&:hover{
						text-decoration:underline;
					}
			}
		}
		.ItmBox{
			width:1090px;
			height:461px;
			overflow:hidden;
			.ItmWrap{
				margin: 0 -1px;
    			height: 461px;
    			overflow: hidden;
    			background: #fff;
    			.itm{
    				float: left;
    				width: 180px;
    				height: 230px;
    				font-size: 12px;
    				border: 1px solid #f0f0f0;
    				&:nth-child(6){
    					border-right:none;
    				}
    			}
    			.itm-brand{
    				border-right:none;
    				a{
    					display: block;
    					width: 100%;
    					height: 100%;
    					text-align:center;
    					.logoOne{
    						margin: 40px 0 16px;
    						width: 90px;
    						height: 90px;
    					}
    					.desc{
    						padding: 0 15px;
    						font-size: 14px;
    						color: #000;
    						overflow: hidden;
        					text-overflow: ellipsis;
    						white-space: nowrap;
    					}
    					.profix{
    						margin-top: 3px;
    						font-size: 18px;
    						color: #e31436;
    					}
    				}
    			}
    			.itm-pic{
    				border-left-color:none;
    				a{
    					display: block;
    					position: relative;
    					width: 100%;
    					height: 100%;
    					overflow: hidden;
    					
    					&:hover{
    						.imgO{
    							transform:translateX(-10px);
    						}
    					}
    					.imgO{
    						margin-top: 24px;
   						 	width: 100%;
   						 	transition:all .4s;
    					}
    				}
    			}
    			.itm-goods{
    				.picIm{
    					display: block;
    					margin: 12px;
    					width: 157px;
    					height: 157px;
    				}
    				.tit{
    					display: block;
    					margin: 0 12px;
    					width: 157px;
    					height: 18px;
    					line-height: 18px;
    					text-align: center;
    					overflow: hidden;
    					text-overflow: ellipsis;
    					white-space: nowrap;
    					color: #333;
    					&:hover{
    						text-decoration:underline;
    					}
    				}
    				.price{
    					width:181px;
    					height:24px;
    					text-align:center;
    					.cur{
    						color: #e31436;
    						b{
    							margin-left: 3px;
   								font-size: 16px;
    						}
    					}
    					.mkt{
    						margin-left: 5px;
    						color: #999;
    					}
    				}
    			}
			}
		}
	}
}
// 热门品牌
.popBox{
	width:100%;
	height:317px;
	.popSmaBox{
		width:1090px;
		height:100%;
		margin:0 auto;
		.w-tit1{
			margin:44px 0 15px 0;

			.big{
				font-size:22px;
				color:#333;
				margin-right:10px;
			}
			.small{
				font-weight:100;
				font-size:14px;
				color:#999999;
			}
			.timeBox{
				margin-left: 8px;
    			font-weight: bold;
    			font-size: 14px;
    			color: #999;
    			span{
    				display:inline-block;
    				text-align:center;
    				line-height:20px;
    				width:20px;
    				height:20px;
    				background:#333;
    				border-radius:50%;
    			}
			}
			.more{
			width:110px;
			float:right;
			font-size:14px;
			color:#33334b;
			line-height:31px;
			font-weight:normal;
			&:hover{
						text-decoration:underline;
					}
			}
			.icon-qiehuan{
				font-size:12px;
				color:#000000;
			}
		}
		.BIgBOx{
			width:1090px;
			height:273px;
			// 小轮播图
		#carouselTwo{
			float:left;
			width:181px;
			height:271px;
			#boxLun{
				position:relative;
				width:181px;
				height:183px;
				img{
					position:absolute;
					width:181px;
					height:181px;
				}
				#imgIdOne{
					opacity:1;
				}
				#imgIdTwo,#imgIdThree{
					opacity:0;
				}
				#btnline{
					position: absolute;
    				top: 181px;
    				left: 0;
    				width: 183px;
    				height: 2px;
    				z-index: 10;
    				li{
    					float: left;
    					margin-right:3px;
    					width: 58px;
    					height: 2px;
    					background-color: #555;					
    				}
				}
				#leftArr{
					position: absolute;
    				top: 75px;
    				width: 28px;
    				height: 32px;
    				line-height: 32px;
    				text-align: center;
    				z-index: 10;
    				color: #fff;
    				font-size: 22px;
    				font-weight: bold;
    				background-color: #000;
    				opacity: 0.25;
    				display:none;
				}
				#rightArr{
					position: absolute;
    				top: 75px;
    				right:0;
    				width: 28px;
    				height: 32px;
    				line-height: 32px;
    				text-align: center;
    				z-index: 10;
    				color: #fff;
    				font-size: 22px;
    				font-weight: bold;
    				background-color: #000;
    				opacity: 0.25;
    				display:none;
				}
			}
			#txt{
				width:181px;
				height: 88px;
    			background-color: #151515;
    			color: #fff;
    			.name{
    				padding-top:28px;
    				text-align:center;
    				font-size:12px;
    			}
    			.descT{
    				text-align:center;
    				font-size:12px;
    			}
			}
		}
		.recomBrand{
			width:908px;
			height:270px;
			float:right;
			&:nth-child(5){
				border-right:0;
			}
			.itm{
				position: relative;
    			float: left;
    			width: 180px;
    			height: 136px;
    			border-right: 1px solid #f0f0f0;
    			border-bottom: 1px solid #f0f0f0;
    			overflow: hidden;
    			&:hover{
    				.actions{
    					display:block;
    				}
    			}
    			.infoOne{
    				width: 100%;
    				.Imgyan{
    					display: block;
    					margin: 12px auto 0;
    					width: 50%;
    					height: 90px;
    				}
    			    .desc{
    			    	margin: 10px -90px 0;
    					text-align: center;
    					white-space: nowrap;
    					overflow: hidden;
    					font-size:12px;
    					color:#333333;
    			    }
    			}
    			.actions{
					text-align: center;
    				color: #fff;
    				background:rgba(0,0,0,.8);
    				width:100%;
    				height:136px;
    				position: absolute;
    				top: 0;
    				left: 0;
    				width: 100%;
    				height: 100%;
    				display:none;
    				.follow{
    					display: inline-block;
    					position: absolute;
    					top: 10px;
    					left: 10px;
    					width: 58px;
    					height: 16px;
    					line-height: 16px;
    					color: #fff;
    					border: 1px solid #fff;
    					border-radius: 8px;
    					font-size:12px;
    				}
    				.followers{
    					font-size:12px;
    					margin-top:48px;
    					margin-bottom:7px;
    				}
    				.enter{
    					display: block;
    					margin: 0 auto;
    					width: 76px;
    					height: 20px;
    					line-height: 20px;
    					color: #fff;
    					background-color: #e31436;
    					border-radius: 10px;
    					font-size:12px;
    				}
    			}
			}
			}
		}
	}
}
// 母婴专区
.product{
	width:100%;
	height:608px;
	.profloor{
		width:1090px;
		height:100%;
		margin:0 auto;
		.cont{
			border: 1px solid #eaeaea;
			border-top: 1px solid #333333;
			width:1089px;
			height:440px;
			// background:skyBlue;
			.part1{
				position:relative;
				float:left;
				.w-secondlist{
					position:absolute;
					left:26px;
					top:24px;
					width:220px;
					height:136px;
					li{
						width: 58px;
    					height: 58px;
						float: left;
    					margin: 0 10px 10px 0;
    					a{
    						width: 58px;
    						height: 58px;
    						background:#fff;
    						display:inline-block;
    						border-radius:50%;
    						font-size:12px;
    						color:#333;
    						text-align:center;
    						line-height:58px;
    						&:hover{
    							background: rgba(255,255,255,0.7);
    							color: #e31436;
    						}
    					}
					}

				}
			}
			.partm{
				float: left;
    			position: relative;
				width:600px;
				height:100%;
				background:orange;
				.w-activlist{
					.itm1{
					    width: 298px;
   						height: 218px;
						float: left;
    					text-align: center;
    					border: 1px solid #eaeaea;
    					background:#fff;
    					.pic{
    						.tit{
								font-size:16px;
								color:#333333;
								display: block;
    							padding: 20px 0 0;
    						}
    						.desc{
    							font-size:14px;
    							color:#666666;
    						}
    					}
					}
				}
			}
			.party{
				float:right;
    			position: relative;
				width:200px;
				height:436px;
				padding-left:20px;
				padding-right:20px;
				background:#fff;
				.title{
					font-size: 16px;
    				line-height: 40px;
    				padding: 10px 0 10px;
    				color: #333;
    				font-weight: bold;
				}
				.prolist{
					position: relative;
					width: 100%;
    				height: 356px;
    				.itemgroup{
    					.itemsale{
    						border-bottom: 1px dotted #eaeaea;
    						padding: 0 0 10px;
   					 		margin: 0 0 10px;
    						img{
    							flaot:left;
								width:75px;
								height:75px;
								margin-right:10px;
    						}
    						.proinfo{
    							width:115px;
    							float:right;
    							.tit{
    								line-height:18px;
    								height: 36px;
    								overflow: hidden;
    								font-size:12px;
    								.protitle{
    									color:#666;
    									font-weight:normal;
    								}
    							}
    							.curprice{
    								margin: 6px 0 0;
    								font-size: 12px;
    								color: #e31436;
    								.symbol{
    									font-size:12px;
    								}
    								strong{
    									font-size: 14px;
   										font-weight: bold;
    								}
    								.item2{
    									color: #999;
    								}
    							}
    						}
    					}
    					.itemsale4{
    						border-bottom:none;
    						padding:0;
   					 		margin: 0;
    					}
    				}
				}
			}
		}
		// 热卖品牌
		.loginlist{
			margin:10px 0 0;
			width:1088px;
			height:108px;
			background:#fff;
			border: 1px solid #eaeaea;
			border-top:none;
			.txt{
				float: left;
    			width: 118px;
    			font-size: 15px;
    			color: #333;
    			font-weight: bold;
    			text-indent: 30px;
    			line-height: 108px;
			}
			.picBox{
				display: inline-block;
    			position: relative;
    			float: left;
    			margin: 0 0 0 12px;
    			width: 108px;
			}
		}
		.cl-tit{
			font-size: 14px;
    		color: #999;
    		position: relative;
    		line-height: 34px;
    		height:34px;
    		margin: 37px 0 10px;
    		.tit{
    			font-size:20px;
    			color:#333;
    			float:left;
    			margin-right:20px;
    		}
    		.w-taglist{
    			position: relative;
    			top: 2px;
    			font-size: 14px;
    			color: #999;
    			.first{
    				float:left;
    			}
    			.last{
    				float:left;
    				.itm{
    					color:#666666;
    					font-size:14px;
    					&:hover{
    						text-decoration:underline;
    					}
    				}
    				.marked{
    					color:#e31436;
    				}
    				.sep{
    					margin:0 10px;
    				}
    			}
    		}
    		.u-btn-more{
    			font-size:14px;
    			color:#666666;
    			float:right;
    		}
		}
		
	}
}


































































// footer-one
.footerOne{
	width:100%;
	height:382px;
	background: #fff;
    border-top: 1px solid #eaeaea;
    .footBg{
    	width: 1196px;
    	margin: 0 auto;
    	.btmList{
    		// padding: 40px 0;
    		padding: 40px 0 90px;
    		border-bottom: 1px solid #eaeaea;
    		.clearFix{
    			li{
    				float: left;
    				width: 25%;
    				.iconZheng{
    					float: left;
    				    margin: 0 12px 0 0;
    				}
    				.tit{
    				   	font-size: 18px;
    					font-weight: bold;
    					display: block;
    					line-height: 22px;
    				}
    				.desc{
    					font-size: 14px;
    					display: block;
    					line-height: 22px;
    				}
    			}
    		}
    	}
    	.guideList{
    		padding: 40px 0 90px;
    		overflow:hidden;
    		.last{
    			margin-left: 10px;
    		}
    		.item{
    			width: 108px;
   				padding: 0;
    			text-align: center;
    			float: left;
    			font-size:12px;
    			color:#333333;
    			.le{
    				width:106px;
    				height:106px;
    				border:1px solid #eaeaea;
    				img{
    					padding-top:2px;
    				}
    			}
    		}
    		.clearfix{
    			.bd_none{
    				border: none;
    			}
    			.fir{
    				width: 194px;
    				padding-right: 40px;
    				padding-left: 30px;
    				.logocaola{
						display: block;
    					width: 220px;
    					height: 42px;
    					line-height: 45px;
    					margin-bottom: 20px;
    					outline: none;
    					cursor: pointer;
    					z-index: 9;
    				}
    				.focuson{
    					width:194px;
    					height: 32px;
    					line-height:32px;
    					.label{
    						font-size:12px;
    						color:#333333;
    						display: inline-block;
    						vertical-align: middle;
    						padding-bottom:10px;
    					}
    					.itm{
    						position: relative;
    						margin-left: 10px;
    						cursor: pointer;
    						display: inline-block;
    						vertical-align: middle;
    						&:hover{
									.m-notice{

										display:block;
										}
    								}
    							.w-icon{
    							width: 32px;
   								height: 32px;
   								// padding-left:8px;
    							background-position: -752px -69px;
    							}
    						.m-notice{
    							position: absolute;
    							left: -44px;
    							top: 42px;
    							z-index: 10;
    							border: solid 1px #ededee;
    							padding: 10px;
    							display:none;
    							img{
    								vertical-align: middle;
    								display: inline-block;
    							}
    							.arrow{
    								position: absolute;
    								left: 52px;
    								top: 0;
    								right: auto;
    								.arr{
    									    top: -16px;
    										border-color: transparent transparent #ededee transparent;
    										position: absolute;
    										left: 0;
    										border-width: 8px;
    										border-style: dashed dashed solid dashed;
    										width: 0;
    										height: 0;
    										font-size: 0;
    								}
    								.arr1{
    									    position: absolute;
    										left: 0;
    										border-width: 8px;
    										width: 0;
    										height: 0;
    										font-size: 0;
    								}
    							}
    						}
    					}
    				}
    			}
    		}
    	li{
    		float: left;
    		width: 110px;
    		padding: 0 0 0 25px;
    		height: 128px;
    		border-left: 1px solid #eaeaea;
    		dt{
    			margin: -4px 0 10px;
    			em{
				font-size: 18px;
    			font-weight: normal;
    			font-style: normal;
    			}
    		}
    		dd{
    			line-height: 24px;
    			a{
    				font-size:12px;
    				color: #333;
    				cursor: pointer;
    			}
    		}
    	}
    	}
    }
    .aboutNEST{
    	color: #c2c2c2;
        position: relative;
    	padding: 20px 0;
    	background: #333;
    	line-height: 26px;
    	text-align: center;
    	clear:both;
    }
    a{
    	color: #c2c2c2;
    	font-size:12px;
    }
    .m-license {
    margin-left: 20px;
    font-size:12px;
	}
	.f-tac{
		height: 30px;
   		margin: 5px 15px 0 0;
   		.p{
   			width:83px;
   			height:30px;
   		}
   		.tu{
   			width:80px;
   			height:30px;
   		}
   		.pian{
   			width:27px;
   			height:30px;
   		}
	}
}